.f{
    display: flex;
}
.center {
    align-items: center;
    justify-content: center;
}

.f-b{
    justify-content: space-between;
}

.f-start{
    justify-content: flex-start;
}
.trophy{
    width: 40px;
    position: absolute;
}

.username{
    margin-left: .6rem;
}

body{
    background: var(--white-2);
}