.layout_ranking{
    display: flex; 
    justify-content: space-between;
    min-width: 100%;
    gap: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ranking_section_tablero{
    width: 100%;
}